@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, 

form, fieldset, legend, img,input{ margin:0; padding:0; }
fieldset, img,input,button { border:0 none; 

padding:0;margin:0;outline-style:none; }   /*去掉input等聚焦时的

蓝色边框*/
ul, ol { list-style:none; }
/*input { padding-top:0; padding-bottom:0; font-family: 

"SimSun","宋体";}*/
select, input { vertical-align:middle;}
/*select, input, textarea { font-size:12px; margin:0; }*/
textarea { resize:none; } /*防止拖动*/
img {border:0; vertical-align:middle; }  
/*  去掉图片低测默认的3像素空白缝隙，或者用display：block也可以

*/
table { border-collapse:collapse; }


/*添加公共样式*/
/*body {
    font:12px/150% Arial,Verdana,"\5b8b\4f53";
    color:#666;
    background:#fff
}*/
.clearfix:before,.clearfix:after {  /*清楚浮动*/
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
a {color:#666; text-decoration:none; }
/*a:hover{color:#C81623;}*/
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-

weight:normal;font-size:1em;}  /*设置h标签的大小，设置跟父亲一样

大的字体font-size:100%;*/
s,i,em{font-style:normal;text-decoration:none;}


/*公共类*/
.container {  /*版心 提取 */
    width: 1190px;
    margin:0 auto;
}
.fl {
    float:left;
}
.fr {
    float:right;
}
.al {
    text-align:left;
}
.ac {
    text-align:center;
}
.ar {
    text-align:right;
}
.hide {
    display:none;
}
.font12{ font-size: 12px;}
.font14{ font-size: 14px;}
.font16{ font-size: 16px;}

/*#famous{width: 100%;height: 3000px;}*/
#f_header{/*height: 25px;*/background:#EEEEEE;}
/*#f_header .container{height: 25px;}*/
#f_header ul li{float:left;position:relative;}
#f_header ul li a{float:left;height: 25px;font-size: 12px;line-height: 25px;}
#f_header ul li a span{padding:0 16px 0 15px;border-right: 1px solid #D4D4D4;}
#f_header ul .icon_l span{padding-left: 35px;}
#f_header ul .icon_r span{padding-right: 26px;}
#f_header ul .icon_r .icon_arror{display:block;width: 9px;height: 6px;background:url(../images/sprites.png) 0 0;position: absolute;top:50%;right: 9px;margin-top: -3px;}
#f_header ul .icon_l .icon0{display:block;width: 22px;height: 17px;background:url(../images/sprites.png) -30px 0;position: absolute;top:50%;left: 5px;margin-top: -9px;}
#f_header ul .icon_l .icon_qq{background-position: -60px 0;}
#f_header ul .icon_l .icon_tel{background-position: -90px 0;}

/*#f_logo{height: 77px;width: 100%;}*/
/*#f_logo .container{height: 77px;}*/
#f_logo h1{/*height: 77px;*/width: 147px;background:url(../images/logo.jpg) no-repeat;padding-left: 278px;line-height: 58px;padding-top: 19px;}
#f_logo .logo_c{/*height: 61px;*/width: 339px;padding:16px 0 0 115px;}
#f_logo .logo_c form{height: 30px;width: 339px;}
#f_logo .logo_c form .txt{height: 28px;width: 265px;border:1px solid #D5D5D5;border-right:0 none;float:left;padding-left: 8px;font-size: 12px;}
#f_logo .logo_c form .btn{height: 30px;width: 65px;float:left;}
#f_logo .logo_c p{font-size: 12px;line-height: 30px;color:#CDCDCD;}
#f_logo .logo_c p a{color:#898989;margin-left: 10px;}
#f_logo .logo_r{height: 32px;width: 79px;background:#F5F5F5;margin:20px 0 23px;border:1px solid #ccc;padding-left: 45px;font-size: 12px;color:#666666;line-height: 32px;position:relative;}
#f_logo .logo_r span{color:#D00002;padding:0 4px;}
#f_logo .logo_r i{display:block;width: 24px;height: 19px;background:url(../images/sprites.png) -120px 0;position: absolute;top:50%;left:9px;margin-top: -10px;}
#f_nav{background:#A21F25;}
/*#f_nav .container{height: 34px;}*/
/*#f_nav .nav_l{width: 190px;height: 34px;background:red;}*/
#f_nav .nav_l{position:relative;}
#f_nav .nav_l h3{width: 190px;height: 34px;background:#B9363C;font-size: 14px;line-height: 34px;color:#F8FCFF;text-align: center;font-weight: bold;}
#f_nav .nav_l ul{width: 190px;height: 385px;background:#1F1909;position:absolute;top: 34px;left: 0;padding:4px 0 3px 0;}
#f_nav .nav_l ul a{display:block;height: 42px;font-size: 12px;line-height: 42px;color:#FEFFFF;padding-left: 40px;}
#f_nav .nav_l ul li{position:relative;}
#f_nav .nav_l ul li::before{content:"";display:block;width: 22px;height: 30px;background:url(../images/sprites.png) -150px 0;position:absolute;top: 50%;left: 10px;margin-top: -15px;}

/*#f_nav .nav_c{width: 627px;height: 34px; background:blue;}*/
#f_nav .nav0 li{float:left;}
#f_nav .nav0 li a{display:block;height: 14px;padding:10px 0;}
#f_nav .nav0 li a span{display:block;font-size: 14px;height:14px;color:#FFFEFF;padding:0 16px 0 13px;border-right:1px dashed #CE9D99;line-height: 14px;}
#f_nav .nav_c li:hover a{background:#444444;margin-left: -1px;padding-left: 1px;}
#f_nav .nav_c li:hover span{border-color:#444444 ;}

/*#f_nav .nav_r{width: 206px;height: 34px; background:red;}*/
#f_nav .nav_r li a span{padding:0 11px;border-right:1px solid #D09091;}
#f_nav .nav_r .li2{position:relative;}
#f_nav .nav_r .li2 i{content:"";display:block;width: 33px;height: 19px;background:url(../images/1.gif) -68px 0;position:absolute;top:-6px;right:-3px;}
#f_nav .nav_r .li2:hover i{background-position: -34px 0;}
