.main_center_b2{ background:url("main_center_b2.png") top left no-repeat; }
.首页_r2_c4{ width:265px; height:177px; background-position:-10px -10px; }
.首页_r2_c2{ width:265px; height:177px; background-position:-10px -197px; }

